*{
    margin:0px;
    padding:0px;
}
.nav{
    background-color: grey;
    color: white;
    margin:10px;
    padding:10px;
}
.nav a{
    margin:10px;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;

}
.nav a:hover{
    margin:10px;
    background-color: silver;

}